<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs template</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
    <div class="port">
        <div class="titlebox">
            <h1>Mg Ars</h1>
        </div>

        <div class="release">
            <h1>Gran lanzamiento</h1>
            <p>Album Homonimo</p>
        </div>

        <div class="simply-countdown"></div>

        <div class="registro">
            <h3>Obtener album</h3>
            <form class="form">
                <p>
                    <label>Correo electronico</label>
                    <input type="email" name="email" />
                </p>
            </form>
        </div>


        <footer>
            MgArs.music 2021 &copy;
         </footer>

    </div>
    
    <script src="./js/simplyCountdown.min.js"></script>
    <script src="./js/counter.js"></script>

</body>


</html>