<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Ejs template</title>
    <link rel="stylesheet" href="./css/styles.css" />   
    
</head>
<body>
    <div id="titlebox">
        <h1>Mg Ars</h1>
    </div>
    
    <div id="release">
        <h1>Gran lanzamiento</h1>
        <p>
            Album homónimo 
        </p>
    </div>
    
    <div id="countdown"></div>

    <script src="./js/simplyCountdown.min.js"></script>
    <script src="./js/countdown.js"></script>
</body>

<footer>
    MgArs.music 2021 &copy;
</footer>
</html>