@font-face{
    font-family: "blackber";
    src: url("font/blackber.TTF");
}
@font-face{
    font-family: "knight";
    src: url("font/knight.ttf");
}
.port{
    width: 100%;
    background: rgb(29, 27, 27);
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s ease-out all;

}

.titlebox{
    margin-top: -250px;
    width: 500px;
    height: 150px;
    background: rgb(54, 40, 40);
    box-shadow: 0px 0px 40px black;
    }

.titlebox h1{
    font-family: "knight";
    color: black;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    }

.release h1{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}
.release p{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

body{
    background: black;
}

.simply-countdown {
    overflow: hidden;
    display: table;
    font-family: 'Arial', sans-serif;
    margin-bottom: -140px;
  }
  .simply-countdown > .simply-section {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    margin: 15px;
    background: rgb(68, 10, 10);
    box-shadow: 0 1px 3px rgba(90, 32, 32, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
  }
  .simply-countdown > .simply-section .simply-amount,
  .simply-countdown > .simply-section .simply-word {
    display: block;
    text-align: center;
  }

  footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
  }